<!DOCTYPE html>
<html>
<!--
  Copyright 2010-2015 Brian McKelvey.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<head>
  <meta charset="utf-8">
  <title>WebSocket Whiteboard Example</title>
  <script src="/client.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/client.css">
</head>
<body>
  <h1>Shared Whiteboard Example</h1>

  <p>As of the time of this writing, this example requires at least
     <a href="http://www.mozilla.com/firefox/channel/">Firefox 7 beta</a> or
     <a href="http://www.google.com/landing/chrome/beta/">Chrome 14 beta</a>.</p>

  <canvas id="whiteboardCanvas" width="800" height="450"></canvas>

  <br>
  <button onclick="setColor(200,0,0)"
          style="color: #FFF; background-color: rgb(200,0,0)">Red</button>

  <button onclick="setColor(0,128,0)"
          style="color: #FFF; background-color: rgb(0,128,0)">Green</button>

  <button onclick="setColor(0,0,255)"
          style="color: #FFF; background-color: rgb(0,0,255)">Blue</button>

  <button onclick="setColor(0,0,0)"
          style="color: #FFF; background-color: rgb(0,0,0)">Black</button>
  
  <button onclick="erase()">Erase Whiteboard</button>
  
  <script>
    var client = new Whiteboard('whiteboardCanvas');
    client.connect();
    
    function erase() {
      client.sendClear();
    }
    
    function setColor(r,g,b) {
      client.setColor(r,g,b);
    }
  </script>
</body>
</html>
